.container {
    padding-left: 50px;
}
.container hr {
    width: 70%;
    height: 2px;
    color:white;
    margin-left: 0;
    margin-bottom: 20px;
}
.cover_img {
    width: 200px;
    height: 300px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}
.information_box {
    width: 60%;
    display: flex;
    padding: 30px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}
.information_box_content {
    margin-left: 30px;
    line-height: 30px;
    font-weight: 300;
}
.information_box_content p{
    display: flex;
    margin-top: 0;
}
.information_box_content p span{
    font-size: 20px;
    font-weight: 400;
    width: 100px;
    text-align: left;
}
.discription {
    margin-top: 20px;
}
.title {
    margin-left: 30px;
    margin-top: 30px;
}